button {
    background-color: #543C29;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    border: 1px solid #C4BAA0;
    margin-bottom: 20px ;
    color: #C4BAA0 ;
}

.container {
    max-width: 600px;
    margin: auto;
}

.border {
    max-width: 500px;
    border: 6px solid #543C29;
    margin: auto;
    border-radius: 20px;
}

.irCarrito {
    color: #543C29;
}

.description {
    padding: 20px;
}